{% extends "skel.html" %}

{% block body %}
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div id="MainMenu">
          <div class="list-group panel">

            <!-- main menu entry -->
            <a href="#menu-calendar" class="list-group-item list-group-item-info first-class-menu-item" data-toggle="collapse" data-parent="#MainMenu">
                <span class="glyphicon glyphicon-calendar"></span> Calendar
            </a>
            <div class="collapse" id="menu-calendar">
              <!--<a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-plus glyphicon-2x"></span> Add</a>-->
              <!--<a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-remove glyphicon-2x"></span> Remove</a>-->
              <!--<a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-pencil glyphicon-2x"></span> Edit </a>-->
            </div>

            <!-- main menu entry -->
            <a href="#menu-events" class="list-group-item list-group-item-info first-class-menu-item" data-toggle="collapse" data-parent="#MainMenu">
                <span class="glyphicon glyphicon-check"></span> Events
            </a>
            <div class="collapse" id="menu-events">
              <a href="event_add" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-plus glyphicon-2x"></span> Add</a>
              <a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-remove glyphicon-2x"></span> Remove</a>
              <a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-pencil glyphicon-2x"></span> Edit </a>

              <!-- sub menus pattern -->
              <!--<a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1"> Subitem 1 <i class="fa fa-caret-down"></i></a>-->
              <!--<div class="collapse list-group-submenu" id="SubMenu1">-->
                <!--<a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 1 a</a>-->
                <!--<a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 2 b</a>-->
                <!--<a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubSubMenu1">Subitem 3 c <i class="fa fa-caret-down"></i></a>-->
                <!--<div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">-->
                  <!--<a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 1</a>-->
                  <!--<a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 2</a>-->
                <!--</div>-->
                <!--<a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 4 d</a>-->
              <!--</div>-->
              <!--<a href="javascript:;" class="list-group-item">Subitem 2</a>-->
              <!--<a href="javascript:;" class="list-group-item">Subitem 3</a>-->
            </div>

            <!-- main menu entry -->
            <a href="#menu-promises" class="list-group-item list-group-item-info first-class-menu-item" data-toggle="collapse" data-parent="#MainMenu">
                <span class="glyphicon glyphicon-bookmark"></span> Promises
            </a>
            <div class="collapse" id="menu-promises">
              <a href="promise_add" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-plus glyphicon-2x"></span> Add</a>
              <a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-remove glyphicon-2x"></span> Remove</a>
              <a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-pencil glyphicon-2x"></span> Edit </a>
            </div>

            <!-- main menu entry -->
            <a href="#menu-whishlist" class="list-group-item list-group-item-info first-class-menu-item" data-toggle="collapse" data-parent="#MainMenu">
                <span class="glyphicon glyphicon-cloud"></span> Whishlist
            </a>
            <div class="collapse" id="menu-whishlist">
              <a href="whishlist_add" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-plus glyphicon-2x"></span> Add</a>
              <a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-remove glyphicon-2x"></span> Remove</a>
              <a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-pencil glyphicon-2x"></span> Edit </a>
            </div>

            <!-- main menu entry -->
            <a href="#menu-categories" class="list-group-item list-group-item-info first-class-menu-item" data-toggle="collapse" data-parent="#MainMenu">
                <span class="glyphicon glyphicon-tag"></span> Categories
            </a>
            <div class="collapse" id="menu-categories">
              <a href="category_add" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-plus glyphicon-2x"></span> Add</a>
              <a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-remove glyphicon-2x"></span> Remove</a>
              <a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-pencil glyphicon-2x"></span> Edit </a>
            </div>

            <!-- main menu entry -->
            <a href="#menu-users" class="list-group-item list-group-item-info first-class-menu-item" data-toggle="collapse" data-parent="#MainMenu">
                <span class="glyphicon glyphicon-user"></span> Users
            </a>
            <div class="collapse" id="menu-users">
              <a href="user_add" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-plus glyphicon-2x"></span> Add</a>
              <a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-remove glyphicon-2x"></span> Remove</a>
              <a href="" class="list-group-item second-class-menu-item"><span class="glyphicon glyphicon-pencil glyphicon-2x"></span> Edit </a>
            </div>


          </div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <a href="#menu-toggle" class="dropdown-toggle pull-right" id="menu-toggle">
                    <span class="glyphicon glyphicon-align-justify glyphicon-2x" style="position:fixed;"></span>
                </a>
            <!--</div>-->
            <!--<div class="row">-->
                <div class="side-body">

                    <!-- Main Content -->
                    <h1> Main Content here </h1>
                    <pre> Resize the screen to view the left slide menu </pre>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                        ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit
                        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita
                        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                        ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit
                        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita
                        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                        ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit
                        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita
                        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                        ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit
                        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita
                        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                        ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit
                        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita
                        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                        ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit
                        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita
                        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                        ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit
                        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita
                        kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
{% endblock %}