<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Le styles -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="../static/css/vertical_tabs.css" rel="stylesheet">

</head>
<body>
<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" rel="home" href="#">Brand</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <div class="col-sm-3 col-md-3 pull-right">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">

                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <!--<div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">-->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu " data-spy="affix" data-offset-top="1">
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center">
                        <h4 class="glyphicon glyphicon-plane"></h4><br/>Flight
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-road"></h4><br/>Train
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-home"></h4><br/>Hotel
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-cutlery"></h4><br/>Restaurant
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-credit-card"></h4><br/>Credit Card
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    <center>
                        <h1 class="glyphicon glyphicon-plane" style="font-size:14em;color:#55518a"></h1>

                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>

                        <h3 style="margin-top: 0;color:#55518a">Flight Reservation</h3>

                        Το Lorem Ipsum είναι απλά <br>ένα κείμενο χωρίς νόημα για τους <br>επαγγελματίες της τυπογραφίας και στοιχειοθεσίας. Το <br>Lorem Ipsum είναι το επαγγελματικό πρότυπο όσον αφορά <br>το κείμενο χωρίς νόημα, από τον 15ο <br>αιώνα, όταν ένας ανώνυμος τυπογράφος πήρε <br>ένα δοκίμιο και ανακάτεψε τις λέξεις <br>για να δημιουργήσει ένα δείγμα βιβλίου. Όχι μόνο επιβίωσε <br>πέντε αιώνες, αλλά κυριάρχησε στην ηλεκτρονική στοιχειοθεσία<br>, παραμένοντας με κάθε τρόπο αναλλοίωτο. Έγινε δημοφιλές τη δεκαετία <br>του '60 με την έκδοση των δειγμάτων της Letraset όπου περιελάμβαναν αποσπάσματα του <br>Lorem Ipsum, και πιο πρόσφατα με το λογισμικό ηλεκτρονικής σελιδοποίησης όπως το Aldus PageMaker που περιείχαν εκδοχές του <br>Lorem Ipsum.

Είναι πλέον κοινά παραδεκτό ότι ένας αναγνώστης αποσπάται από το περιεχόμενο που <br>διαβάζει, όταν εξετάζει τη διαμόρφωση μίας σελίδας. Η ουσία της χρήσης του <br>Lorem Ipsum είναι ότι έχει λίγο-πολύ μία ομαλή κατανομή <br>γραμμάτων, αντίθετα με το να βάλει κανείς κείμενο όπως 'Εδώ θα μπει κείμενο<br>, εδώ θα μπει κείμενο', κάνοντάς το να φαίνεται σαν κανονικό κείμενο. Πολλά λογισμικά πακέτα ηλεκτρονικής <br>σελιδοποίησης και επεξεργαστές ιστότοπων πλέον χρησιμοποιούν το <br>Lorem Ipsum σαν προκαθορισμένο δείγμα κειμένου, <br>και η αναζήτησ για τις λέξεις 'lorem <br>ipsum' στο διαδίκτυο θα αποκαλύψει πολλά web <br>site που βρίσκονται στο στάδιο της δημιουργίας. <br>Διάφορες εκδοχές έχουν προκύψει με το <br>πέρασμα των χρόνων, άλλες φορές κατά λάθος, <br>άλλες φορές σκόπιμα (με σκοπό <br>το χιούμορ και άλλα συναφή).
<br>

Αντίθετα με αυτό που θεωρεί η πλειοψηφία<br>, το Lorem Ipsum δεν είναι <br>απλά ένα τυχαίο κείμενο. Οι ρίζες του βρίσκονται σε <br>ένα κείμενο Λατινικής λογοτεχνίας του 45 π.Χ., φτάνοντας την ηλικία του πάνω από 2000 έτη. Ο Richard McClintock, καθηγητής Λατινικών στο κολλέγιο Hampden-Dydney στην Βιρτζίνια, αναζήτησε μία από τις πιο σπάνιες Λατινικές λέξεις, την consectetur, από ένα απόσπασμα του Lorem Ipsum, και ανάμεσα σε όλα τα έργα της κλασσικής λογοτεχνίας, ανακάλυψε την αναμφισβήτητη πηγή του. To Lorem Ipsum προέρχεται από τις ενότητες 1.10.32 και 1.10.33 του "de Finibus Bonorum et Malorum" (Τα άκρα του καλού και του κακού) από τον Cicero (Σισερό), γραμμένο το 45 π.Χ. Αυτό το βιβλίο είναι μία διατριβή στην θεωρία της Ηθικής, πολύ δημοφιλής κατά την αναγέννηση. Η πρώτη γραμμή του Lorem Ipsum, "Lorem ipsum dolor sit amet...", προέρχεται από μία γραμμή στην ενότητα 1.10.32.

Το καθιερωμένο κομμάτι του Lorem Ipsum που χρησιμοποιείται από τον 15ο αιώνα αναπαράγεται παρακάτω για αυτούς που ενδιαφέρονται. Οι ενότητες 1.10.32 και 1.10.33 από το "de Finibus Bonorum et Malorum" από τον Σισερό επίσης αναπαράγονται στην ακριβή αυθεντική τους μορφή, συνοδευόμενες από Αγγλικές εκδοχές από την μετάφραση του 1914 από τον H. Rackham.
                    </center>
                </div>

                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-road" style="font-size:12em;color:#55518a"></h1>

                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>

                        <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                    </center>
                </div>

                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-home" style="font-size:12em;color:#55518a"></h1>

                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>

                        <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-cutlery" style="font-size:12em;color:#55518a"></h1>

                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>

                        <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-credit-card" style="font-size:12em;color:#55518a"></h1>

                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>

                        <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                    </center>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/vertical_tabs.js"></script>

</body>
</html>
